.logo{
    max-width: 150px;
    display: flex;
}

body{
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: "Recursive", sans-serif;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 30px;
}

.cabecalho_lista{
    display: flex;
    gap: 25px;
}

.cabecalho_lista_item{
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.cabecalho_lista_item:hover{
    text-decoration: underline;
    color: rgb(184, 184, 184);
}
